<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Inline</title>
<style type="text/css" media="screen">
body {
	background: url(wild_flowers.png);
}
.wrap {
	margin: 0 3%;
}

article{
	width: 200px;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: #f3f3f3;
}
footer {
	clear: both;
}
</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
		
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna 
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut</p>
		
		
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna 
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut</p>
		
		<article>
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna 
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut</p>
		</article>
		<article>
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna 
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut</p>
  </article>
		<article>
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna 
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut</p>
		</article>
		
		
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>