body {
	background-color: #699;
	color: black;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	width: 1000px;
}

h1 { 
	padding-left: 10px;
	padding-bottom: 2px;
	text-align: left;
	font-family: "MS Serif", "New York", serif;
	color: Black;
	text-shadow: 2px 2px 3px #666;
	

}

img {
	float: right;
	padding-left: 15px;
}

p {
	padding: 10px;
	text-align: justify;
	
}


